### ===============================================
###  01_Data_Extraction.ipynb
###  Team: The Outliers
###  Course: Advanced Apex Project - BITS Pilani
###  Phase: 1 (Data Acquisition)
### ===============================================

#### Import Dependencies

In [1]:
import os
import pandas as pd

#### Dataset Import

In [2]:
data_path = "../data/AmesHousing.csv"

# Load dataset
df = pd.read_csv(data_path)
print("✅ Dataset Loaded Successfully")
print("Shape:", df.shape)
df.head(3)

✅ Dataset Loaded Successfully
Shape: (2930, 82)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000

#### Verify Data Schema

In [3]:
print("\nColumn Names:\n", df.columns.tolist())
print("\nData Types Summary:\n", df.dtypes.value_counts())

Column Names:
 ['Order', 'PID', 'MS SubClass', 'MS Zoning', 'Lot Frontage', 'Lot Area', 'Street', 'Alley', 'Lot Shape', 'Land Contour', 'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1', 'Condition 2', 'Bldg Type', 'House Style', 'Overall Qual', 'Overall Cond', 'Year Built', 'Year Remod/Add', 'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd', 'Mas Vnr Type', 'Mas Vnr Area', 'Exter Qual', 'Exter Cond', 'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure', 'BsmtFin Type 1', 'BsmtFin SF 1', 'BsmtFin Type 2', 'BsmtFin SF 2', 'Bsmt Unf SF', 'Total Bsmt SF', 'Heating', 'Heating QC', 'Central Air', 'Electrical', '1st Flr SF', '2nd Flr SF', 'Low Qual Fin SF', 'Gr Liv Area', 'Bsmt Full Bath', 'Bsmt Half Bath', 'Full Bath', 'Half Bath', 'Bedroom AbvGr', 'Kitchen AbvGr', 'Kitchen Qual', 'TotRms AbvGrd', 'Functional', 'Fireplaces', 'Fireplace Qu', 'Garage Type', 'Garage Yr Blt', 'Garage Finish', 'Garage Cars', 'Garage Area', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Wood Deck SF', 'Open Porch SF', 'Enclosed Porch', '3Ssn Porch', 'Screen Porch', 'Pool Area', 'Pool QC', 'Fence', 'Misc Feature', 'Misc Val', 'Mo Sold', 'Yr Sold', 'Sale Type', 'Sale Condition', 'SalePrice']

Data Types Summary:
 object     43
int64      28
float64    11
Name: count, dtype: int64

#### Basic Sanity Checks

In [4]:
# Check how many columns have at least one missing (NaN) value.
# Missing values mean that data is incomplete in some records.
# This helps us identify columns that will need imputation or cleaning in Phase 2.
print("\nAny Missing Values?", df.isnull().any().sum())

# Count duplicate rows in the dataset.
# Duplicate rows are exact copies of other rows and can distort model learning,
# so they should be removed during preprocessing.
print("Duplicate Rows:", df.duplicated().sum())

# Identify columns that have all unique values — meaning no two rows share the same value in that column.
# These columns can serve as identifiers (like 'PID' or 'Order'), not as model features.
print("Unique Identifier Columns:", [col for col in df.columns if df[col].is_unique])

Any Missing Values? 27
Duplicate Rows: 0
Unique Identifier Columns: ['Order', 'PID']

#### Save Metadata Summary

In [5]:
# Create a small reference table (DataFrame) that captures key information 
# about every column in the dataset. This will help in Phase 2 
# when we start cleaning and preprocessing the data.

schema_summary = pd.DataFrame({
    # Column name in the dataset
    "Feature": df.columns,
    
    # Data type of each column (e.g., int64, float64, object)
    # Using .astype(str) to make sure all types are stored as readable text
    "Data Type": df.dtypes.astype(str),
    
    # Count how many missing (NaN) values each column has
    # This helps us identify which columns need imputation or can be dropped
    "Missing Values": df.isnull().sum(),
    
    # Count of unique (distinct) values per column
    # This helps detect identifier columns or categorical variables
    "Unique Values": [df[col].nunique() for col in df.columns]
})

# Save the schema summary to the docs folder as a CSV file
# This ensures we have a quick reference document for dataset metadata
schema_summary.to_csv("../docs/schema_summary.csv", index=False)

# Display the first few rows of the schema summary for review
schema_summary.head()

                   Feature Data Type  Missing Values  Unique Values
Order                Order     int64               0           2930
PID                    PID     int64               0           2930
MS SubClass    MS SubClass     int64               0             16
MS Zoning        MS Zoning    object               0              7
Lot Frontage  Lot Frontage   float64             490            128

#### Cross-Check with Data Dictionary

In [6]:
# Load the data dictionary Excel file
# (Requires openpyxl to read .xlsx files)
data_dict = pd.read_excel("../docs/data_dictionary.xlsx")

# Compare column names between dataset and dictionary
missing_cols = set(df.columns) - set(data_dict["Feature"])

# Print out any columns that exist in dataset but not in dictionary
print("Columns missing in data dictionary:", missing_cols)

Columns missing in data dictionary: set()